<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/AntivirusZMService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
          contract="IService" name="BasicHttpBinding_IService" />
      <endpoint address="net.tcp://localhost:9002/AntivirusZMService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
          contract="IService" name="NetTcpBinding_IService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-V0K0N0Q" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>